.main {
    width: 100%;
}

.main__header-background {
    background-image: url('../../images/header-picture.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__results-background {
    background-color: #F5F6F7;
}

.main__preloader {
    background-color: #F5F6F7;
    padding-top: 80px;
}

.main__about-background {
    background-color: white;
}