.about__container {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.about__image-container {
    width: 464px;
    height: 464px;
}

.about__image {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    margin-left: 104px;
    margin-top: 80px;
}

.about__text-container {
    margin-top: 105px;
    margin-left: 56px;
    margin-right: 104px;
}

.about__title {
    font-family: 'Robotoslab-regular';
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 0;
}

.about__text {
    margin-top: 23px;
    font-family: 'Roboto-regular';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    max-width: 600px;
}

@media screen and (max-width: 1024px) {
    .about__title {
        font-size: 30px;
        line-height: 40px;
    }

    .about__image {
        width: 340px;
        height: 340px;
        margin-left: 60px;
        margin-top: 70px;
    }

    .about__text-container {
        margin-right: 60px;
        margin-top: 60px;
    }
} 

@media screen and (max-width: 768px) {
    .about__image {
        width: 232px;
        height: 232px;
        margin-left: 40px;
        margin-top: 61px;
    }

    .about__container {
        padding-bottom: 61px;
    }

    .about__text-container {
        margin-top: 40px;
    }
} 