.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
    border-bottom: 1px solid rgba(196, 196, 196, .3);
}

.header__main-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    margin-left: 104px;
    transition: all .2s ease;
}

    .header__main-link:hover {
        opacity: .6;
    }

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__auth-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 104px;
}

.header__logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100px;
    width: 112px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease;
}

    .header__logout:hover {
        opacity: .6;
    }

.header__logout-name {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-family: 'Roboto-regular';
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 2px;
}

.header__black {
    color: black;
}

.header__black-button {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    margin-right: 32px;
    transition: all .2s ease;
    padding-bottom: auto;
    color: black;
}

.header__black-border {
    border: 1px solid black;
}

.header__button {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    margin-right: 32px;
    transition: all .2s ease;
    padding-bottom: auto;
    color: white;
}

    .header__button:hover {
        opacity: .6;
    }

.header__authorization-button {
    text-decoration: none;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    outline: none;
    border: 1px solid white;
    font-size: 18px;
    line-height: 24px;
    background: none;
    overflow: hidden;
    color: white;
    transition: all .4s ease;
    cursor: pointer;
    margin-right: 104px;
}

    .header__authorization-button:hover {
        color: black;
        background-color: white;
    }

@media screen and (max-width: 768px) {
    .header__authorization-button {
        width: 152px;
        height: 40px;
    }
} 