.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
    border-bottom: 1px solid rgba(196, 196, 196, .3);
}

.header__main-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    margin-left: 104px;
    transition: all .2s ease;
}

    .header__main-link:hover {
        opacity: .6;
    }

.header__main-button {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-right: 32px;
    transition: all .2s ease;
}

    .header__main-button:hover {
        opacity: .6;
    }

.header__authorization-button {
    text-decoration: none;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    outline: none;
    border: 1px solid white;
    font-size: 18px;
    line-height: 24px;
    background: none;
    overflow: hidden;
    color: white;
    transition: all .4s ease;
    cursor: pointer;
    margin-right: 104px;
}

    .header__authorization-button:hover {
        color: black;
        background-color: white;
    }