.card__background {
    margin: 0 auto;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}

.card__container {
    position: relative;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 64px -5px rgba(145, 145, 145, 0.6);
    height: auto;
}

.card__action-container {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 64px -5px rgb(5, 5, 5);
}

.card__action-button {
    background-image: url('../../images/bookmark-not-saved.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 26px;
    border: none;
    background-color: white;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    outline: none;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
}

.card__action-error {
    background-color: white;
    position: absolute;
    top: 0;
    right: 45px;
    height: 40px;
    border-radius: 8px;
    width: 182px;
    display: flex;
    opacity: 0;
    transition: all .2s ease;
    justify-content: center;
    align-items: center;
}

.card__action-description {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-family: 'roboto-regular';
    font-size: 10px;
    line-height: 11,72px;
    text-align: center;
    font-weight: 500;
    user-select: none;
}

    .card__action-button:hover {
        background-image: url('../../images/bookmark-not-saved-hover.svg');
    }

    .card__action-button:hover+ .card__action-error {
        display: flex;
        opacity: 1;
        transition: all .2s ease;
    }

.card__picture {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 272px;
    object-fit: cover;
}

.card__text-container {
    margin: 0 auto;
    max-width: 352px;
}

.card__date {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 17px;
    color: #B6BCBF;
    margin-bottom: 0;
    font-family: 'sourcesanspro-regular';
}

.card__title {
    font-family: 'robotoslab-regular';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    margin-top: 11px;
    margin-bottom: 0;
}

.card__text {
    font-family: 'roboto-regular';
    font-size: 16px;
    line-height: 22px;
    margin-top: 17px;
}

.card__source {
    font-family: 'robotoslab-regular';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    text-decoration: none;
    color: #B6BCBF;
    transition: all .3s ease;
    padding-bottom: 20px;
}

    .card__source:hover {
        color: rgba(0, 0, 0, 0.7)
    }

@media screen and (max-width: 900px) {
    .card__picture {
        width: 224px;
        height: 150px;
    }

    .card__date {
        margin-top: 16px;
    }

    .card__title {
        font-size: 22px;
        line-height: 24px;
        margin-top: 12px;
    }

    .card__text {
        margin-top: 10px;
        margin-bottom: 12px;
    }

    .card__container {
        height: 552px;
    }

    .card__background {
        max-width: 192px;
    }

    .card__text-container {
        max-width: 192px;
    }
}

@media screen and (max-width: 500px) {
    .card__text-container {
        max-width: 256px;
    }

    .card__background {
        max-width: 256px;
    }

    .card__container {
        height: 510px;
    }

    .card__source {
        padding-bottom: 12px;
    }

    .card__picture {
        width: 288px;
        height: 196px;
    }
}